<div class="system_modal">
    <span class="close" ng-click="close()">
        <i class="icon iconfont">&#xe604;</i>
    </span>

    <h5 class="system_modal__title">
        删除高手
    </h5>

    <div class="system_modal__content ranklist_modal__content" ng-if="!backErr.show">
        <div class="payment_modal__tip">
            确认将 {{ username }} 从高手榜删除吗？
            请填写下榜原因：
            <div class="modal__form_wrapper">
                <textarea class="payment_modal__textarea" ng-model="describe.value" ng-focus="hideErr('desc')"></textarea>

                <div ng-show="frontErr.desc.show">
                    <p class="alert alert-arrow">
                        请填写下榜原因
                    </p>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <button class="btn btn-primary" ng-show="!loading" ng-click="deleteTraderRanklist()">
                确认
            </button>
            <button class="btn btn-gray" ng-show="!loading" ng-click="close()">
                取消
            </button>

            <button class="btn btn-primary disabled" disabled ng-show="loading">
                提交中...
            </button>
        </div>
    </div>
    <div class="system_modal__content ranklist_modal__content" ng-if="backErr.show">
        <div class="payment_modal__tip">
            {{ backErr.msg || '系统错误，请联系管理员哦～' }}
        </div>
        <div class="btn-wrapper payment_modal__btn_wrapper">
            <button class="btn btn-primary" ng-click="close()">
                确认
            </button>
        </div>
    </div>
</div>