.table {
    width: 100%;
    // border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    
    > tbody > tr {
        background-color: #fff;

        &.collapse_box{
            padding: 0;
        }
    }

    > tbody > tr > td {
        padding: 12px 8px;
        border-bottom: 1px solid #efefef;
        word-break: break-all;
        
        > .username {
            color: #337ab7;
        }
    }

    > thead > tr > th {
        background-color: #f2f2f4;
        padding: 16px 8px;
    }

    &.collapse > thead > tr > th{
        font-weight: 600;
    }

    &.collapse > thead > tr > th, &.collapse > tbody > tr > td{
        background: #fff;
        border: none;
        padding: 5px 8px;
    }
}

.table-striped {
    > tbody > tr:nth-child(2n) {
        // background-color: #f9f9f9;
    }
}

.table-hover {
    > tbody > tr:hover {
        background-color: #f5f5f5;
    }
}

.table-border {
    > thead > tr > th {
        border: 1px solid #ddd;
    }

    > tbody > tr > td {
        border: 1px solid #ddd;
    }
}

.table-center {
    > thead > tr > th , > tbody > tr > td{
        text-align: center;
    }
}

// width自适应
.table-wrapper {
    height: 100%;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    // border-top: 1px solid #ddd;
    // border-radius: 4px;
    margin-right: -80px;
    margin-left: -80px;

    > .table {
        > thead > tr > th {
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
        }
        > thead > tr > th:first-child,> tbody > tr > td:first-child {
            padding-left: 80px;
        }
        > thead > tr > th:last-child, > tbody > tr > td:last-child {
            padding-right: 80px;
            min-width: 180px;
        }
    }
}
// modal table
.table-modal-wrapper {
    height: 100%;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top: 1px solid #efefef;
    border-radius: 4px;
    
    > table {
        box-shadow: 0 1px 1px #999999;
        overflow: hidden;
    }
}

// 第一项为选择框，其余每项都设置min-width
.table-customer-wrapper {
    // overflow-x: auto;
    // overflow-y: auto;
    height: 100%;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    // border-top: 1px solid #ddd;
    // border-radius: 4px;
    margin-right: -80px;
    margin-left: -80px;

    > .table {
        > thead > tr > th {
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
        }
        > thead > tr > th:first-child, > tbody > tr > td:first-child {
            padding-left: 80px;
        }
        > thead > tr > th:last-child, > tbody > tr > td:last-child {
            padding-right: 80px;
            min-width: 180px !important;
        }

        > thead > tr > th:not(:first-child) {
            min-width: 100px;
        }
    }
}
// 每项都设置min-width
.table-payment-wrapper {
    // overflow-x: auto;
    // overflow-y: auto;
    height: 100%;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    // border-top: 1px solid #ddd;
    // border-radius: 4px;
    margin-right: -80px;
    margin-left: -80px;

    > .table {
        > thead > tr > th {
            border-top: 1px solid #d7d7d7;
            border-bottom: 1px solid #d7d7d7;
        }
        > thead > tr > th:first-child, > tbody > tr > td:first-child {
            padding-left: 80px;
            min-width: 180px !important;
            &.no-min-width{
                 min-width: 0 !important;
            }
        }
        > thead > tr > th:last-child, > tbody > tr > td:last-child {
            padding-right: 80px;
            min-width: 180px !important;
        }
        
        > thead > tr > th {
            min-width: 100px;
        }
    }
}

.table-type-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    // border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;
    // border-top: 1px solid #ddd;
    // border-radius: 4px;
    margin-right: -80px;
    margin-left: -80px;
    > .type_title{
        display: block;
        padding: 14px 80px;
        background: #f2f2f4;
        font-size: 20px;
	    font-weight: 500;
    }
    > .table {
        
        border-collapse: collapse;

        > thead > tr > th:first-child, > tbody > tr > td:first-child {
            padding-left: 80px;
        }

        > tbody > tr > td:nth-child(8n+1) {
            padding-left: 80px;
        }
        
        > thead > tr > th {
            min-width: 100px;
        }

        > thead > tr, > tbody > tr {
            max-width: 1334px;
            border: 1px solid #efefef;

            > td {
                width: 12%;
                float: left;
                border: none;
                cursor: pointer!important;

                &:hover{
                    color: #50ceff;
                    background: #efefef;
                    cursor: pointer!important;
                }

                &.nodata{
                    width: 100%;
                }
            }
        }
    }
}
