.master_trader_label {
    margin-right: 30px;
}
.master_whitelist_fr {
    float: right;
}
.master-btn {
    color: #337ab7;
    font-size: 12px;
}
.ranklist_modal__content {
    text-align: center;

    .btn-wrapper {
        padding-top: 20px;
    }
}
.ranklist_master_type {

    ul {
        border-left: 1px solid #eee;
        border-top: 1px solid #eee;
        float: left;

        li {
            float: left;
            padding: 8px 32px;
            border-right: 1px solid #eee;
            cursor: pointer;

            &.active {
                background-color: #f2f2f4;
            }
        }
    }
}