.advertise_wrapper {
    padding-bottom: 50px;
}
.advertise_title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;

    span {
        float: right;
        font-weight: normal;
        font-size: 14px;
        padding-right: 20px;
    }
}
.advertise_file_upload {
    display: inline-block;
    cursor: pointer;

    input {
        display: none;
    }
    span {
        color: #337ab7;
    }
}
.tab_tip {
    .doc {
        position: relative;
        cursor: pointer;

        span {
            right: -8px;
            min-width: 150px;
            display: none;
        }

        &:hover {
            span {
                display: block;
            }
        }
    }
}
.advertise_file_upload {
    .img_tip {
        position: relative;
        cursor: pointer;

        span {
            left: -10px;
            min-width: 150px;
            display: none;
        }

        &:hover {
            span {
                display: block;
            }
        }
    }
}
.advertise_thumbnail_img {
    width: 100%;
}
.advertise_setting_icon {
    i {
        cursor: pointer;

        &:hover {
            color: #00CCCC;
        }
    }
}







